/* #table_main {
  display: grid;
  grid-template-rows: 1fr;
  height: 70vw;
  justify-content: center;
  font-family: "Mezaraki";
  font-size: 1.5vw;
} */

#table_text1 {
  font-family: "Mezaraki";
  font-size: 4vw;
}

#res_main {
  background-color: rgb(197, 205, 171);
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.res_ip {
  height: 3vw;
  border-radius: 16px;
  border: 3px solid black;
  padding-left: 15px;
  font-weight: bolder;
  width: 33vw;
}

.res_but {
  height: 3vw;
  border-radius: 16px;
  border: 3px solid black;
  padding-left: 15px;
  font-weight: bolder;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #3d4a40;
  color: white;
  width: 20vw;
}

.res_but:hover {
  color: #f4ce14;
  border: 5px solid black;
  width: 25vw;
}

.error_msg {
  color: red;
  font-size: medium;
  margin-top: 0px;
  margin-bottom: 0px;
}
